<!DOCTYPE html>
<html>
<head>
	<title>Under Construction</title>
	<style>
		body {
			background-color: #f1f1f1;
			font-family: Arial, sans-serif;
			text-align: center;
			padding-top: 50px;
		}
		h1 {
			color: #555;
			font-size: 48px;
			margin-bottom: 0;
		}
		p {
			color: #888;
			font-size: 24px;
			margin-top: 10px;
		}
		img {
			margin-top: 50px;
			max-width: 30%;
			height: auto;
		}
	</style>
</head>
<body>
	<h1>Under Construction</h1>
	<p>Please stand by as I implement more rooms</p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Zeichen_123_-_Baustelle%2C_StVO_1992.svg/1366px-Zeichen_123_-_Baustelle%2C_StVO_1992.svg.png" alt="Under Construction">
</body>
</html>
